

body{
  background-color: #d9eeec;
}

h1{
text-align: center;
}

h4{
  display: table;
  margin: auto;
}

h6{
  display: table;
  margin: auto;
}

hr{
border-style: dotted;
border-width: 4px;
}



.contactinfo{
  text-align: right;


}


.proimg{
  border-radius: 50%;
  width: 125px;
  display: table;
  margin: auto;

}

.aboutme{
  text-align: center;
}

.tborder{
  border: 1px;
  border-style: double;

}
